{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                        <div class="card-body text-white">
                            <h1>Классификация</h1>
                            <h5>Такие нейросети берут заданные данные и классифицируют их. Например, могут догадаться, к какому жанру относится текст, или оценить платежеспособность человека по его банковскому профилю</h5>
                            <img src="/static/classification.svg" alt="Классификация">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
