{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
        <div style="margin-top: 1%">
            <div class="post-entry">
                <div class="bg-image card shadow-1-strong"
                     style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                    <div style="margin-left: 1%">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.body }}</p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    <br>
    <div class="pagination">
  <ul class="pagination">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      {% if page_obj.has_previous %}
        <a class="page-link" href="?page=1">&laquo; первая</a>
      {% else %}
        <span class="page-link">&laquo; первая</span>
      {% endif %}
    </li>
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
      {% else %}
        <span class="page-link">предыдущая</span>
      {% endif %}
    </li>
    <li class="page-item"><span class="page-link">Страница {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">следующая</a>
      {% else %}
        <span class="page-link">следующая</span>
      {% endif %}
    </li>
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
      {% else %}
        <span class="page-link">последняя &raquo;</span>
      {% endif %}
    </li>
  </ul>
</div>

{% endblock content %}